@import './variables';
@import './components/all';
@import './libs/normalize';

#root {
  max-width: $container-width;
  margin: 0 auto;
  padding: 0 15px;
  text-align: center;
}

body {
  background-color: $background;
}

// .container {
//   max-width: $container-width;
//   margin: 0 auto;
//   padding: 0 15px;
//   text-align: center;
//   // border: 1px solid #a9a9a9;
// }

// .content {
// }

// Main h2 section Title

.section-title-h2 {
  font-family: 'Poppins', sans-serif;
  font-size: 45px;
  line-height: 26px;
  font-weight: 600;
  color: #323142;
  margin-bottom: 85px;

  span {
    color: #6c5fbc;
  }
}

// Section bottom border

.bottom-border {
  border-bottom: 1px solid #cbcbcb;
}

// Cards list
.cards-list {
  display: flex;
  gap: 30px;
  margin-bottom: 65px;
}
// Food card
.food-card {
  padding: 35px 25px 30px 15px;
  position: relative;
  min-width: 225px;

  .favourite-btn {
    position: absolute;
    right: 22px;
    top: 24px;
  }

  .card-img {
    position: relative;
    width: 100%;
    height: auto;
  }

  .card-info_list-item {
    font-size: 18px;
  }

  .card-info-title {
    font-size: 23px;
    line-height: 37px;
  }
}
//Favurite btn
.favourite-btn {
  background: url(../assets/heart.svg) no-repeat center center;
  width: 22px;
  height: 20px;
  border: none;
  cursor: pointer;
  z-index: 9;
}

// View All (Link)
.view-link-wrapper {
  display: flex;
  justify-content: flex-end;
}

.view-link {
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 45px;
  position: relative;
  right: 0;
  margin-right: 36px;
  margin-bottom: 120px;

  color: #acadb9;

  &::after {
    content: url(../assets/arrow2.svg);
    position: absolute;
    width: 16px;
    height: 16px;
    right: -30px;
    top: 2px;
  }
}

@mixin card-highlight($txt-color, $bg-color) {
  font-family: 'Poppins', sans-serif;
  font-size: 13px;
  padding: 3px 8px;
  border-radius: 6px;

  color: $txt-color;
  background-color: $bg-color;
}

.card-highlight-yellow {
  @include card-highlight(#daa31a, #f7edd0);
}
.card-highlight-red {
  @include card-highlight(#fb471d, #f7c5ba);
}
.card-highlight-green {
  @include card-highlight(#309d5b, #d6eee0);
}

.card-info {
  &-title {
    font-family: 'Poppins', sans-serif;
    font-size: 27px;
    font-weight: 600;
    line-height: 42px;
    color: #323142;
  }

  &_list {
    display: flex;
    align-items: center;
    gap: 6px;

    &-item {
      font-family: 'Manrope', sans-serif;
      font-size: 20px;
      line-height: 26px;
      color: #8e97a6;
      display: flex;
      align-items: center;
    }
  }

  &_footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 13px;

    .card-info-price {
      font-family: 'Manrope', sans-serif;
      font-size: 26px;
      font-weight: 700;
      line-height: 40px;
      color: #323142;
      span {
        font-size: 18px;
        color: #8e97a6;
      }
    }

    .card-info-btn {
      background-image: url(../assets/plus.svg);
      background-color: #323142;
      background-position: center;
      background-repeat: no-repeat;
      border: none;
      border-radius: 9px;
      width: 44px;
      height: 40px;
      cursor: pointer;
    }
  }
}

//

//* Page Home *//

//intro__section

.intro__section {
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
  margin-bottom: 85px;

  &_list {
    max-width: 570px;
    margin-top: 70px;
    display: flex;
    flex-direction: column;
    align-items: start;

    .noteText {
      font-family: 'Poppins';
      font-size: 15px;
      line-height: 1.2;
      letter-spacing: 2px;
      font-weight: 600;
      color: #201f1f;
      opacity: 0.2;
      padding-left: 74px;
      margin-bottom: 18px;
      position: relative;

      &::before {
        content: '';
        position: absolute;
        left: 0;
        height: 1px;
        width: 54px;
        background-color: #201f1f;
        top: 50%;
        // margin-top: 8px;
      }
    }

    .title {
      font-family: 'Poppins', serif;
      color: #201f1f;
      font-size: 75px;
      line-height: 1.2;
      font-weight: 600;
      letter-spacing: -2px;
      text-align: left;
      margin-bottom: 16px;

      span {
        color: #5c4eae;
      }
    }

    .detailsText {
      max-width: 500px;
      text-align: left;
      font-family: 'Inter';
      font-size: 18px;
      line-height: 28px;
      color: #676767;
      margin-bottom: 53px;

      span {
        color: #6155ae;
        font-weight: 500;
      }
    }

    .buttons {
      button {
        font-size: 16px;
        font-weight: 500;
        font-family: Poppins;
        padding: 18px 30px;
        border-radius: 13px;
        margin-bottom: 33px;
        cursor: pointer;
      }
      .filled-btn {
        margin-right: 18px;
        background-color: $accent-color;
        border: none;
        color: #fff;
      }
      .btn {
        border: 1.5px solid $accent-color;
        background-color: transparent;
        color: $accent-color;
      }
    }

    .rating__list {
      display: flex;
      align-items: flex-end;

      .rating-icon {
        margin-right: 20px;
      }

      .rating__stars {
        display: flex;
        gap: 4px;
        margin-right: 10px;
        margin-bottom: 4px;
      }

      .stars-count {
        font-family: 'Plus Jakarta Sans', sans-serif;
        font-weight: 500;
        font-size: 16px;
        line-height: 24px;
        color: #334155;
        margin-bottom: 4px;
      }
    }
  }

  &_img {
    width: 680px;
    height: 607px;
    position: relative;

    img {
      width: 100%;
      height: auto;
      position: relative;
      right: -38px;
    }
  }
}

//statistics__section

.statistics__section {
  // position: relative;
  .bg {
    position: absolute;
    background-image: url(../assets/bg-stat.svg);
    width: 100%;
    height: 220px;
    left: 0;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
  margin-bottom: 100px;
  // position: absolute;
  // background-image: url(../assets/bg-stat.svg);
  // width: 100%;
  // left: 0;
  // background-repeat: no-repeat;
  // background-size: cover;
  // background-position: center;

  &_list {
    display: flex;
    justify-content: center;
    gap: 150px;
    padding-top: 50px;
    padding-bottom: 50px;

    &-item {
      position: relative;
      &:not(:last-child)::after {
        content: '';
        position: absolute;
        top: 0;
        right: -76px;
        display: inline-block;
        width: 1px;
        height: 132px;
        background-color: #6c60b1;
      }

      ul {
        display: flex;
        flex-direction: column;
        gap: 11px;
        li {
          &:first-child {
            font-family: 'Public Sans', sans-serif;
            font-size: 43px;
            line-height: 54px;
            font-weight: 700;
            color: #ffffff;
          }
          &:last-child {
            font-family: 'Inter', sans-serif;
            font-size: 15px;
            line-height: 22px;
            font-weight: 500;
            color: #c5bfed;
          }
        }
      }
    }
  }
}

//mobile-app__section

.mobile-app__section {
  display: flex;
  justify-content: space-between;
  padding-bottom: 120px;
  margin-bottom: 100px;
  border-bottom: 1px solid #cbcbcb;

  &-img {
    margin-left: 112px;
  }

  &_sideText {
    margin-top: 90px;
    max-width: 540px;
    text-align: left;

    .sideText {
      &__title {
        font-family: 'Inter', serif;
        font-size: 51px;
        line-height: 58px;
        font-weight: 700;
        color: #18181b;
        margin-bottom: 63px;
        span {
          color: #6c5fbc;
        }
      }

      &__list {
        display: flex;
        flex-direction: column;
        gap: 28px;
        margin-bottom: 60px;

        &-item {
          font-family: 'Inter', serif;
          font-size: 21px;
          line-height: 30px;
          padding-left: 30px;
          color: #676767;

          position: relative;

          &::before {
            content: '';
            position: absolute;
            width: 8px;
            height: 8px;
            left: 8px;
            top: 20%;
            // transform: translateY(-200%);
            border-radius: 50%;
            background-color: #676767;
          }
        }
      }

      &__btn {
        padding: 20px 68px 20px 27px;
        background-color: #6c5fbc;
        border-radius: 15px;
        color: #ffffff;
        font-size: 18px;
        font-weight: 500;
        line-height: 23px;
        border: none;
        cursor: pointer;
        position: relative;

        &::before {
          content: '';
          position: absolute;
          right: 26px;
          width: 27px;
          height: 27px;
          top: 50%;
          transform: translateY(-50%);
          background-image: url(../assets/Arrow.svg);
        }

        &::after {
          content: '';
          position: absolute;
          width: 155px;
          height: 87px;
          background-image: url(../assets/spiral-arrow.svg);
          background-repeat: no-repeat;
          left: 160px;
          top: 50px;
          cursor: default;
        }
      }
    }
  }
}

//restaurants__section

.restaurants {
  &__section {
    margin-bottom: 150px;

    &_list {
      // display: flex;
      // gap: 30px;
      // margin-bottom: 65px;
    }

    &_list-item {
    }
  }

  &__section-title {
  }
}
.restaurant {
  &__card {
    text-align: left;
    border-radius: 30px;
    background-color: #ffffff;
    border: 1.25px solid #f4f4f6;
    box-shadow: 6px 71px 36px 0 rgba(229, 229, 229, 0.7);

    &-img {
      position: relative;
      width: 100%;
      height: auto;
    }

    &_info {
      margin-top: 11px;
      // padding-left: 33px;
      // padding-bottom: 18px;
      padding: 0 33px 18px;
    }

    // &_info-highlight {
    //   font-family: 'Poppins', sans-serif;
    //   font-size: 13px;
    //   color: #daa31a;

    //   padding: 3px 8px;
    //   border-radius: 6px;
    //   background-color: #f7edd0;
    // }

    // &_info-title {
    //   font-family: 'Poppins', sans-serif;
    //   font-size: 27px;
    //   font-weight: 600;
    //   line-height: 42px;
    //   color: #323142;
    // }

    // &_info_list {
    //   display: flex;
    //   align-items: center;

    //   .info_list-item {
    //     font-family: 'Manrope', sans-serif;
    //     font-size: 20px;
    //     line-height: 26px;
    //     color: #8e97a6;
    //     display: flex;
    //     align-items: center;
    //   }
    // }
  }
}

//dishes

.dishes {
  margin-bottom: 100px;
  &__list {
    display: flex;
    gap: 30px;
    margin-bottom: 65px;

    &-item {
      text-align: left;
      border-radius: 30px;
      background-color: #ffffff;
      border: 1.25px solid #f4f4f6;
      box-shadow: 6px 71px 36px 0 rgba(229, 229, 229, 0.7);
    }
  }
}

//purchases

.purchases {
  padding-bottom: 135px;
  margin-bottom: 115px;
  text-align: left;
  display: flex;
  justify-content: space-between;

  &-title {
    line-height: 58px;
    font-size: 51px;
    margin-bottom: 48px;
  }

  &-aside {
    max-width: 550px;
  }

  &__list {
    display: flex;
    flex-direction: column;
    gap: 15px;

    &-item {
      background-color: #fff;
      border-radius: 12px;
      padding: 4px 17px;
      display: flex;
      justify-content: space-between;

      max-width: 345px;
      height: 88px;

      span {
        font-family: 'Poppins', serif;
        font-size: 13px;
        line-height: 1.4;
        font-weight: 500;
        color: #acadb9;
        display: flex;
        align-items: flex-end;
        margin-bottom: 6px;
      }

      div {
        display: flex;
        gap: 20px;
        align-items: center;
        img {
          width: 72px;
          height: 72px;
        }
        div {
          display: flex;
          align-items: flex-start;
          flex-direction: column;
          gap: 4px;
          h3 {
            font-family: 'Poppins', serif;
            font-size: 19px;
            line-height: 1.4;
            font-weight: 600;
            color: #323142;
          }
          p {
            font-family: 'Poppins', serif;
            font-size: 12px;
            line-height: 1.4;
            font-weight: 500;
            color: #323142;
          }
          .cancelled {
            color: #f1534e;
          }
        }
      }
    }
  }

  &-stats {
    width: 534px;
    height: 465px;
    padding: 37px 37px 37px 45px;
    background-color: #ffffff;
    border-radius: 25px;
    border: 1.6px solid #edf2f7;
    box-shadow: 0 50px 100px -30px rgba(0, 0, 0, 0.2);

    &__top {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 38px;

      &-title {
        font-family: 'Manrope', serif;
        font-size: 28px;
        line-height: 1.35;
        letter-spacing: 0.3px;
        font-weight: 800;
        color: #1a202c;
      }

      &-btn {
        button {
          font-family: 'Manrope', serif;
          font-size: 18px;
          line-height: 1.5;
          font-weight: 600;
          letter-spacing: 0.6px;
          color: #18181b;

          background-color: #fafafa;
          padding: 13px 19px;
          border: none;
          border-radius: 13px;
          display: flex;
          align-items: center;
          gap: 6px;
          cursor: pointer;

          svg {
          }
        }
      }
    }

    &__list {
      display: flex;
      flex-direction: column;
      gap: 22px;

      &-item {
      }

      .purchases-card {
        padding: 25px;
        background-color: #fff;
        border: 1.6px solid #edf2f7;
        border-radius: 25px;

        ul {
          display: flex;
          align-items: center;
          justify-content: space-between;

          li:first-child {
            display: flex;
          }

          li {
            img {
              margin-right: 19px;
              width: 50px;
              height: 50px;
            }

            .purchases-card-title {
              font-family: 'Manrope', serif;
              font-size: 19px;
              font-weight: 800;
              line-height: 1.5;
              color: #1a202c;
              margin-bottom: 3px;
            }

            .purchases-card-subTitle {
              font-family: 'Manrope', serif;
              font-weight: 500;
              line-height: 1.5;
              font-size: 16px;
              color: #a0aec0;
            }

            .purchases-card-count {
              font-family: 'Manrope', serif;
              font-weight: 800;
              font-size: 22px;
              line-height: 1.5;
              color: #1a202c;
            }
          }
        }

        &-progress-bar {
          height: 10px;
          width: 100%;
          background-color: #f9f9fc;
          margin-top: 21px;
          border-radius: 78px;
          overflow: hidden;

          .progress-fill {
            height: 100%;
            width: 70%;
            border-radius: 78px;
            background-color: #6c5fbc;
            transition: width 0.5s ease;
          }
        }
      }
    }
  }
}

.banner {
  width: 100%;
  // height: 280px;
  padding: 37px 66px 60px;
  margin-bottom: 200px;
  text-align: left;
  border-radius: 30px;
  background: #6c5fbc url(../assets/banner-bg.svg) no-repeat -20px center / cover;
  position: relative;

  &-title {
    font-family: 'Poppins', serif;
    font-size: 70px;
    font-weight: 800;
    color: #dedcef;
    margin-bottom: 40px;
    margin-top: 37px;
  }

  &-img {
    position: absolute;
    width: 275px;
    height: 275px;
    top: 64px;
    right: 72px;
  }

  .subscribe-form {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 440px;
    height: 68px;
    border-radius: 14px;
    padding: 7px 6px 6px 21px;
    // background: #6c5fbc;
    // opacity: 0.8;

    box-shadow: 0 7px 45px 0 rgba(0, 0, 0, 0.1);
    background: #dedcef;

    input {
      font-family: 'Poppins', serif;
      font-size: 16px;
      letter-spacing: 0.03em;
      text-transform: capitalize;
      color: #878787;
      height: 24px;
      border: none;
      padding: px;
      min-width: 220px;
      max-width: 250px;
      background: #dedcef;
    }

    button {
      font-family: 'Poppins', sans-serif;
      font-weight: 500;
      font-size: 14px;
      letter-spacing: 0.03em;
      text-transform: uppercase;
      color: #f7f8fa;
      padding: 15px 24px;
      border: none;
      cursor: pointer;

      border-radius: 11px;
      background: #6c5fbc;
    }
  }
}

// Accordion

.accordion__section {
  h2 {
    display: inline-block;
    line-height: 1.2;
    position: relative;

    ::after {
      content: '';
      position: absolute;
      background-image: url(../assets/decoration.svg);
      background-repeat: no-repeat;
      background-size: cover;
      width: 41px;
      height: 39px;
      top: -40px;
      right: -45px;
    }
  }
  .accordion {
    &__list {
      padding-left: 20px;
      padding-right: 20px;
      margin-bottom: 170px;
      &-item {
        border-bottom: 1px solid #adadad;
        margin-bottom: 28px;
        border-bottom: 1px solid #ddd;
        .accordion-header {
          display: flex;
          align-items: center;
          justify-content: space-between;
          padding: 14px;
          cursor: pointer;

          h3 {
            font-family: 'Poppins', serif;
            font-weight: 500;
            font-size: 24px;
            color: #323142;
          }

          button {
            width: 30px;
            height: 30px;
            border-radius: 50%;
            background-color: #6c5fbc;
            border: none;
            position: relative;
            cursor: pointer;

            &::after {
              content: '';
              position: absolute;
              width: 10.6px;
              height: 1.15px;
              background-color: #fff;
              top: 50%;
              left: 50%;
              transform: translate(-50%, -50%);
            }

            &::before {
              content: '';
              position: absolute;
              width: 10.6px;
              height: 1.15px;
              background-color: #fff;
              top: 50%;
              left: 50%;
              transform: translate(-50%, -50%) rotate(90deg);
            }
          }
        }
        .accordion-content {
          line-height: 1.6;
          font-family: 'Poppins', serif;
          text-align: left;
          color: #686868;
          padding: 0px;
          padding-left: 13px;
          max-height: 0;
          overflow: hidden;
          transition: all 0.2s ease-in-out;
        }

        .accordion-content.active {
          padding: 13px;
          max-height: 55px;
        }
      }
    }
  }
}

.single-restaurant__banner {
  width: 100%;
  border-radius: 60px;
  margin-bottom: 150px;
  padding-bottom: 30px;
  box-shadow: 8px 91px 45px 0 rgba(229, 229, 229, 0.7);
  background: #fff;

  img {
    width: 100%;
    // width: 500px;
    height: auto;
    margin-bottom: 26px;
  }

  ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 45px;

    .single-banner-item {
      display: flex;
      align-items: center;
      gap: 9px;
    }

    li {
      // display: flex;
      h2 {
        font-family: 'Poppins', sans-serif;
        font-weight: 600;
        font-size: 40px;
        line-height: 133%;
        color: #323142;
      }

      p {
        display: inline-block;
        font-family: 'Manrope', sans-serif;
        font-size: 26px;
        line-height: 133%;
        color: #8e97a6;
      }
      img {
        width: 35px;
        height: 35px;
        margin: 0;
      }
      span {
        font-family: 'Manrope', sans-serif;
        font-size: 26px;
        line-height: 133%;
        color: #8e97a6;
      }
    }
  }
}
